<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Invoice</title>
  <link rel="license" href="https://www.opensource.org/licenses/mit-license/">
  <script  src="js/index.js"></script>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
		<header>
			<h1>Invoice</h1>
			<address contenteditable>
				<p>Kelly Setzer</p>
				<p>4615 Cherokee Path<br>Carrollton, TX 75010</p>
				<p>(214) 287-3464</p>
			</address>
			<span><img alt="" src="img/SetzerTechLogo.png"></span>
		</header>
		<article>
			<h1>Recipient</h1>
			<address contenteditable>
        <p>Michael Roth<br>
        Roth Technical Specialties, Inc.<br>
        9610 CR 581<br>
        Anna, TX 75409
        </p>
			</address>
			<table class="meta">
				<tr>
					<th><span contenteditable>Invoice #</span></th>
					<td><span contenteditable><%= invoice_number %></span></td>
				</tr>
				<tr>
					<th><span contenteditable>Date</span></th>
					<td><span contenteditable><%= invoice_date %></span></td>
				</tr>
				<tr>
					<th><span contenteditable>Amount Due</span></th>
					<td><span id="prefix" contenteditable>$</span><span><%= amount_due %></span></td>
				</tr>
			</table>
			<table class="inventory">
				<thead>
					<tr>
						<th><span contenteditable>Item</span></th>
						<th><span contenteditable>Description</span></th>
						<th><span contenteditable>Rate</span></th>
						<th><span contenteditable>Quantity</span></th>
						<th><span contenteditable>Price</span></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a class="cut">-</a><span contenteditable>Technology Innovation</span></td>
						<td><span contenteditable>DevOps</span></td>
						<td><span data-prefix>$</span><span contenteditable>100.00</span></td>
						<td><span contenteditable><%= tech_inno_hours %></span></td>
						<td><span data-prefix>$</span><span><%= tech_inno_price %></span></td>
					</tr>
					<tr>
						<td><a class="cut">-</a><span contenteditable>Data Strategy</span></td>
						<td><span contenteditable>Data Foundation</span></td>
						<td><span data-prefix>$</span><span contenteditable>100.00</span></td>
						<td><span contenteditable><%= dei_hours %></span></td>
						<td><span data-prefix>$</span><span><%= dei_price %></span></td>
					</tr>
				</tbody>
			</table>
			<a class="add">+</a>
			<table class="balance">
				<tr>
					<th><span contenteditable>Total</span></th>
					<td><span data-prefix>$</span><span><%= total_price %></span></td>
				</tr>
				<tr>
					<th><span contenteditable>Amount Paid</span></th>
					<td><span data-prefix>$</span><span contenteditable>0.00</span></td>
				</tr>
				<tr>
					<th><span contenteditable>Balance Due</span></th>
					<td><span data-prefix>$</span><span><%= balance_due %></span></td>
				</tr>
			</table>
		</article>
		<aside>
			<h1><span contenteditable>Additional Notes</span></h1>
			<div contenteditable>
				<p>Thank you for your business!</p>
			</div>
		</aside>
	</body>
</html>

